{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}
{% load static %}

{% load auth_extras %}
{% load crispy_forms_tags %}

{% block content %}

{{ form.media }}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Planes</h1>
</div>

<!-- Tabla -->
<div class="table-responsive-sm table-wrapper-planes">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>Plan</th>
                <th>Partidas</th>
                <th>Departamentos</th>
                <th>Puestos</th>
                <th>Estructuras</th>
                <th>Empleados</th>
                <th class="text-center" style="width:20%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in planes %}
                <tr {% if plan.id == request.session.plan %} class="table-dark" {% endif %}>
                    <td>{{plan.descripcion}}</td>
                    <td>{{ plan.partida_set.count }}</td>
                    <td>{{ plan.departamento_set.count }}</td>
                    <td>{{ plan.puesto_set.count }}</td>
                    <td>{{ plan.estructura_set.count }}</td>
                    <td>{{ plan.empleado_set.count }}</td>

                    <td class="text-center">
                        {% if not plan.eliminando and plan.clonado %}
                            <div class="btn-group" role="group">
                                <a href="{% url 'plan-cargar' plan.pk %}" data-id="{{ plan.id }}" style="background-color: #782484; border-color: #782484" class="btn btn-primary btn-sm cargar-modal {% if plan.id == request.session.plan %}disabled" aria-disabled="true {% else %} " data-toggle="tooltip" data-bs-placement="top" title="Cargar {% endif %}"><span data-feather="box"></span></a>
                                <a data-url="{% url 'plan-clonar' plan.pk %}" data-id="{{ plan.id }}" class="btn btn-success btn-sm clonar-modal" data-toggle="tooltip" data-bs-placement="top" title="Clonar"><span data-feather="copy"></span></a>
                                <a data-url="{% url 'plan-editar' plan.pk %}" data-id="{{ plan.id }}" class="btn btn-warning btn-sm editar-modal" data-toggle="tooltip" data-bs-placement="top" title="Modificar"><span data-feather="edit"></span></a>
                                <a data-url="{% url 'plan-eliminar' plan.pk %}" data-id="{{ plan.id }}" class="btn btn-danger btn-sm eliminar-modal {% if plan.id == request.session.plan %}disabled" aria-disabled="true {% else %} " data-toggle="tooltip" data-bs-placement="top" title="Eliminar {% endif %}"><span data-feather="x-square"></span></a>
                            </div>
                        {% else %}
                            <div class="spinner-border spinner-border-sm" role="status"></div>
                            <strong> 
                            {% if plan.eliminando %}
                                Eliminando... 
                            {% else %} 
                                Clonando... 
                            {% endif %} 
                            </strong>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="text-center bg-light">Sin planes</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}