{% extends 'nomina/base_sidebar.html' %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Encabezado -->
<script src="{% static 'nomina/catorcenas.js'%}" type="text/javascript"></script>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Catorcenas</h1>
</div>

<!-- FILTROS -->
<div class="border-bottom">
    <form action="{% url 'catorcenas-sincronizar' %}" id="sync-catorcenas-form" method="post" autocomplete="off" class="row-fluid row-cols-lg-auto">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>

<!-- Tabla -->
<div class="table-responsive-sm table-wrapper-catorcenas">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>Periodo</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
            </tr>
        </thead>
        <tbody>
            {% for catorcena in catorcenas %}
                <tr>
                    <td>{{ catorcena.descripcion }}</td>
                    <td>{{ catorcena.fecha_inicio }}</td>
                    <td>{{ catorcena.fecha_final }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="text-center bg-light">Sin catorcenas</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>

{% endblock %}