{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Cédulas</h1>
</div>

{% endblock %}