{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}
{% load static %}

{% load auth_extras %}
{% load crispy_forms_tags %}

{% block content %}

{{ form.media }}
<script src="{% static 'nomina/proyeccion.js'%}" type="text/javascript"></script>

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Proyección</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-secondary">
                Plazas: <span class="badge bg-dark">{{ proyeccion.total_plazas }}</span>
            </button>
            <button type="button" class="btn btn-sm btn-secondary">
                Total:  <span class="badge bg-dark">{{ proyeccion.total_proyeccion|moneda }}</span>
            </button>
            <button type="submit" id="exportar-proyeccion" class="btn btn-sm btn-primary" name="exportar" value="Exportar" form="proyeccion-form"><span data-feather="download"></span> Descargar</button>
        </div>
    </div>
</div>

<!-- FILTROS -->
<div class="border-bottom">
    <form action="{% url 'proyeccion' %}" id="proyeccion-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>
<div id="partidas-proyeccion">
    <!-- TABS de Partidas -->
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-concentrado" data-bs-toggle="tab" data-bs-target="#content-concentrado" type="button" role="tab" aria-controls="concentrado" aria-selected="true">Concentrado</button>
        </li>

        {% for partida in proyeccion.partidas %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab-{{partida.codigo}}" data-bs-toggle="tab" data-bs-target="#content-{{partida.codigo}}" type="button" role="tab" aria-controls="{{partida.codigo}}" aria-selected="false">{{partida.descripcion}}</button>
            </li>
        {% endfor %}
    </ul>
    
    <br>
    
    <!-- Contenido -->
    <div class="tab-content" id="myTabContent">
        <!-- TABLA PARTIDAS -->
        {% for partida, contenido in proyeccion.data.items %}
            <div class="tab-pane fade {% if partida == 'concentrado' %}show active{% endif %}" id="content-{{partida}}" role="tabpanel" aria-labelledby="tab-{{partida}}">
                <div class="table-responsive text-nowrap table-wrapper-proyeccion">
                    <table class="table table-responsive table-bordered table-hover table-sm small">
                        <thead class="table-dark">
                            <tr>
                                {% for encabezado in contenido.encabezados %}
                                    <th>{{encabezado}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data_empleado in contenido.data %}
                            <tr class="{% if not data_empleado.2 %}table-secondary{% endif %}{% if data_empleado.1 == 'Total' %} tr-bold {% endif %}">
                                {% for columna in data_empleado %}
                                    {% if columna|es_moneda %}
                                        <td>{{ columna|moneda }}</td>
                                    {% else %}
                                        <td>{{ columna }}</td>
                                    {% endif %}

                                {% endfor %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="100%" class="text-center bg-light">Sin empleados</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}