{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Scripts del Sistema</h1>
</div>

<!-- Scripts -->
<div>
    <h4>Importar a GLOBAL de SQLServer</h4>
    <a href="{% url 'scripts-departamentos' %}"class="btn btn-danger">Importar Departamentos</a>
    <a href="{% url 'scripts-puestos' %}"class="btn btn-danger">Importar Puestos</a>
</div>
<br>
<div>
    <h4>Importar a PLAN de SQLServer</h4>
    <a href="{% url 'scripts-estructuras' %}"class="btn btn-danger">Importar Estructuras</a>
    <a href="{% url 'scripts-empleados' %}"class="btn btn-danger">Importar Empleados</a>
    <a href="{% url 'scripts-partidas' %}"class="btn btn-danger">Importar Partidas</a>
</div>
<br>
<div>
    <h4>Importar de PLAN a PLAN</h4>
    <a href="{% url 'scripts-departamentos-plan' %}"class="btn btn-danger">Importar Departamentos</a>
    <a href="{% url 'scripts-puestos-plan' %}"class="btn btn-danger">Importar Puestos</a>
    <a href="{% url 'scripts-plan-sincronizar' %}"class="btn btn-danger">Sincronizar Plan</a>
    <a href="{% url 'scripts-plan-sueldos' %}"class="btn btn-danger">Importar Sueldos</a>
    <a href="{% url 'scripts-plan-isr' %}"class="btn btn-danger">Importar ISR</a>
</div>
<br>
<div>
    <h4>Otros</h4>
    <a href="{% url 'scripts-asimilables' %}"class="btn btn-danger">Eliminar Asimilables</a>
    <a href="{% url 'scripts-consejeros' %}"class="btn btn-danger">Eliminar Empleados NO CONSEJEROS</a>
    <a href="{% url 'scripts-fonacot' %}"class="btn btn-danger">Importar Registros Fonacot</a>
    <a href="{% url 'scripts-fonacot-csv' %}"class="btn btn-danger">Importar Registros Fonacot CSV</a>
</div>


{% endblock %}