body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-max {
  min-height: calc(100vh - 46px);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.active-sidebar-option {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link.active-sidebar-option .feather {
  color: inherit;
}

.sidebar .active-sidebar-option .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */


.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.table-wrapper-departamentos {
  overflow-y: auto;
  max-height: calc(100vh - 150px);;
}

.table-wrapper-puestos {
  overflow-y: auto;
  max-height: calc(100vh - 150px);;
}

.table-wrapper-estructuras {
  overflow-y: auto;
  max-height: calc(100vh - 250px);;
}

.table-wrapper-empleados {
  overflow-y: auto;
  max-height: calc(100vh - 350px);;
}

.table-wrapper-proyeccion {
  overflow-y: auto;
  max-height: calc(100vh - 470px);;
}

.table-wrapper-catorcenas {
  overflow-y: auto;
  max-height: calc(100vh - 320px);;
}

.tr-bold {
  font-weight:bold;
}