{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}
{% block content %}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Partidas</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'partida-nuevo' %}" data-id="{{ partida.id }}" class="btn btn-sm btn-success nuevo-modal"><span data-feather="plus-square"></span> Nueva</a>
        </div>
    </div>
</div>

<!-- Tabla -->
<div class="table-responsive-sm">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th class="text-center" style="width:10%;">Ordenar</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Valor</th>
                <th class="text-center" style="width:10%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for partida in partidas %}
                <tr>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="{% url 'partida-subir' partida.pk %}" data-id="{{ partida.id }}" class="btn btn-outline-dark btn-sm subir-partida" data-toggle="tooltip" data-bs-placement="top" title="Subir"><span data-feather="chevrons-up"></span></a>
                            <a href="{% url 'partida-bajar' partida.pk %}" data-id="{{ partida.id }}" class="btn btn-outline-dark btn-sm bajar-partida" data-toggle="tooltip" data-bs-placement="top" title="Bajar"><span data-feather="chevrons-down"></span></a>
                        </div>
                    </td>
                    <td>{{partida.codigo}}</td>
                    <td>{{partida.descripcion_tipos}}</td>
                    <td>{{partida.valor}}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a data-url="{% url 'partida-editar' partida.pk %}" data-id="{{ partida.id }}" class="btn btn-warning btn-sm editar-modal" data-toggle="tooltip" data-bs-placement="top" title="Modificar"><span data-feather="edit"></span></a>
                            <a data-url="{% url 'partida-eliminar' partida.pk %}" data-id="{{ partida.id }}" class="btn btn-danger btn-sm eliminar-modal" data-toggle="tooltip" data-bs-placement="top" title="Eliminar"><span data-feather="x-square"></span></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="text-center bg-light">Sin partidas</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>

{% endblock %}