{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}
{% load static %}

{% load auth_extras %}
{% load crispy_forms_tags %}

{% block content %}

{{ form.media }}

<!-- Encabezado -->
<script src="{% static 'nomina/estructuras.js'%}" type="text/javascript"></script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Estructuras</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'estructura-nuevo' %}" data-id="{{ estructura.id }}" class="btn btn-sm btn-success nuevo-modal"><span data-feather="plus-square"></span> Nueva</a>
            <a data-url="{% url 'estructuras-sueldos' %}" data-id="{{ estructura.id }}" class="btn btn-sm btn-primary porcentaje-modal" style="background-color: #782484; border-color: #782484"><span data-feather="percent"></span> Incrementar Sueldos</a>
        </div>
    </div>
</div>

<!-- FILTROS -->
<div class="border-bottom">
    <form action="{% url 'estructuras' %}" id="filtro-estructuras-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>

<!-- Tabla -->

<div class="table-responsive-sm table-wrapper-estructuras">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>Clave</th>
                <th>Tipo</th>
                <th>Puesto</th>
                <th>Sueldo</th>
                <th>Empleados</th>
                <th class="text-center" style="width:10%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for estructura in estructuras %}
                <tr>
                    <td>{{estructura.clave}}</td>
                    <td>{{estructura.tipo}}</td>
                    <td>{{estructura.puesto}}</td>
                    <td>{{estructura.sueldo|moneda}}</td>
                    <td>{{estructura.empleados}}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a data-url="{% url 'estructura-editar' estructura.pk %}" data-id="{{ estructura.id }}" class="btn btn-warning btn-sm editar-modal" data-toggle="tooltip" data-bs-placement="top" title="Modificar"><span data-feather="edit"></span></a>
                            <a data-url="{% url 'estructura-eliminar' estructura.pk %}" data-id="{{ estructura.id }}" class="btn btn-danger btn-sm eliminar-modal" data-toggle="tooltip" data-bs-placement="top" title="Eliminar"><span data-feather="x-square"></span></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="text-center bg-light">Sin estructuras</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>

{% endblock %}