{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}
{% block content %}

<!-- Encabezado -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Puestos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'puesto-nuevo' %}" data-id="{{ puesto.id }}" class="btn btn-sm btn-success nuevo-modal"><span data-feather="plus-square"></span> Nuevo</a>
        </div>
    </div>
</div>

<!-- Tabla -->
<div class="table-responsive-sm table-wrapper-puestos">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>Descripción</th>
                <th>Estructuras</th>
                <th>Empleados</th>
                <th class="text-center" style="width:10%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for puesto in puestos %}
                <tr>
                    <td>{{ puesto.descripcion }}</td>
                    <td>{{ puesto.estructura_set.count }}</td>
                    <td>{{ puesto.empleado_set.count }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a data-url="{% url 'puesto-editar' puesto.pk %}" data-id="{{ puesto.id }}" class="btn btn-warning btn-sm editar-modal" data-toggle="tooltip" data-bs-placement="top" title="Modificar"><span data-feather="edit"></span></a>
                            <a data-url="{% url 'puesto-eliminar' puesto.pk %}" data-id="{{ puesto.id }}" class="btn btn-danger btn-sm eliminar-modal" data-toggle="tooltip" data-bs-placement="top" title="Eliminar"><span data-feather="x-square"></span></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="text-center bg-light">Sin puestos</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>

{% endblock %}