<div class="modal fade" data-bs-backdrop="static" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarModalLabel">¿Esta seguro/a de eliminar el puesto?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> 
                    <b>Esta acción tambien eliminará las estructuras y empleados asignados a este puesto.</b>
                </p>
                <p>
                    <b>Descripción: </b>{{ puesto.descripcion }} <br>
                    <b>Estructuras Asignadas: </b>{{ puesto.estructura_set.count }} <br>
                    <b>Empleados Asignados: </b>{{ puesto.empleado_set.count }}
                </p>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="{% url 'puesto-eliminar' puesto.pk %}">Eliminar Puesto</a>
                </div>            
            </div>
        </div>
    </div>
</div>