{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}
{% load static %}

{% load auth_extras %}
{% load crispy_forms_tags %}

{% block content %}

{{ form.media }}

<!-- Encabezado -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Fonacot</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-secondary">
                Total: <span class="badge bg-dark">{{ fonacots.count }}</span>
            </button>
            <button type="button" class="btn btn-sm btn-danger">
                Error: <span class="badge bg-dark">{{ faltantes }}</span>
            </button>
            <a data-url="{% url 'fonacot-nuevo' %}" data-id="{{ fonacot.id }}" class="btn btn-sm btn-success nuevo-modal"><span data-feather="plus-square"></span> Nuevo</a>
            <a href="{% url 'fonacot-exportar-txt' %}" class="btn btn-sm btn-primary"><span data-feather="download"></span> .TXT</a>
            <a href="{% url 'fonacot-exportar-csv' %}" class="btn btn-sm btn-primary"><span data-feather="download"></span> .CSV</a>
        </div>
    </div>
</div>

<!-- Tabla -->
<div class="table-responsive-sm table-wrapper-departamentos">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>RFC</th>
                <th>NSS</th>
                <th>Nombre</th>
                <th>Fecha Ingreso</th>
                <th>Salario Mensual Base</th>
                <th>Salario Mensual Bruto</th>
                <th>NSS Centro</th>
                <th>No. Trabajador</th>
                <th>Salario Mensual Neto</th>
                <th class="text-center" style="width:10%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for fonacot in fonacots %}
                <tr>
                    <td {% if fonacot.falta_informacion == 1 %} class="table-danger" {% endif %}>{{ fonacot.rfc }}</td>
                    <td {% if fonacot.falta_informacion == 2 %} class="table-danger" {% endif %}>{{ fonacot.nss }}</td>
                    <td>{{ fonacot.nombre }}</td>
                    <td>{{ fonacot.fecha_ingreso|date:'m/d/Y' }}</td>
                    <td {% if fonacot.falta_informacion == 3 %} class="table-danger" {% endif %}>{{ fonacot.salario_mensual_base|moneda }}</td>
                    <td {% if fonacot.falta_informacion == 4 %} class="table-danger" {% endif %}>{{ fonacot.salario_mensual_bruto|moneda }}</td>
                    <td>{{ fonacot.nss_centro_trabajo }}</td>
                    <td>{{ fonacot.no_trabajador }}</td>
                    <td {% if fonacot.falta_informacion == 5 %} class="table-danger" {% endif %}>{{ fonacot.salario_mensual_neto|moneda }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a data-url="{% url 'fonacot-editar' fonacot.pk %}" data-id="{{ fonacot.id }}" class="btn btn-warning btn-sm editar-modal" data-toggle="tooltip" data-bs-placement="top" title="Modificar"><span data-feather="edit"></span></a>
                            <a data-url="{% url 'fonacot-eliminar' fonacot.pk %}" data-id="{{ fonacot.id }}" class="btn btn-danger btn-sm eliminar-modal" data-toggle="tooltip" data-bs-placement="top" title="Eliminar"><span data-feather="x-square"></span></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="text-center bg-light">Sin registros fonacot</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>

{% endblock %}