<div class="modal fade" data-bs-backdrop="static" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarModalLabel">¿Esta seguro/a de eliminar el registro?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> 
                    <b>Esta acción tambien eliminará los empleados asignados a este departamento</b>
                </p>
                <p>
                    <b>Descripción: </b>{{ fonacot.nombre }} <br>
                </p>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="{% url 'fonacot-eliminar' fonacot.pk %}">Eliminar Registro</a>
                </div>            
            </div>
        </div>
    </div>
</div>