{% load crispy_forms_tags %}

{{ form.media }}

<div class="modal fade" data-bs-backdrop="static" id="nuevoModal" tabindex="-1" role="dialog" aria-labelledby="nuevoModalLabel" aria-hidden="true">
    <form method="post" action="{% url 'fonacot-nuevo' %}" id="nuevo-form" autocomplete="off">
        {% csrf_token %}

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="nuevoModalLabel">Nuevo Registro Fonacot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    {% crispy form %}
                </div>
    
                <div class="modal-footer">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="submit" class="btn btn-success">Guardar Registro</button>
                    </div>            
                </div>
            </div>
        </div>
    </form>
</div>