{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}
{% load static %}

{% load auth_extras %}
{% load crispy_forms_tags %}

{% block content %}

{{ form.media }}

<!-- Encabezado -->
<script src="{% static 'nomina/empleados.js'%}" type="text/javascript"></script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Empleados</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a data-url="{% url 'empleado-nuevo' %}" data-id="{{ empleado.id }}" class="btn btn-sm btn-success nuevo-modal"><span data-feather="plus-square"></span> Nuevo</a>
            <a data-url="{% url 'empleados-eliminar' %}" class="btn btn-sm btn-danger empleados-eliminar"><span data-feather="x-square"></span> Eliminar Seleccionados</a>
            <a href="{% url 'empleados-reporte' %}" class="btn btn-sm btn-primary"><span data-feather="download"></span> Reporte Días</a>
        </div>
    </div>
</div>

<!-- FILTROS -->
<div class="border-bottom">
    <form action="{% url 'empleados' %}" id="filtro-empleados-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>

<!-- Tabla -->
<div class="table-responsive-sm table-wrapper-empleados">
    <table class="table table-striped table-bordered table-hover table-sm" id="empleadosTable">
        <thead class="table-dark">
            <tr>
                <th>----</th>
                <th>No.</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Puesto</th>
                <th>Ingreso</th>
                <th>Sueldo</th>
                <th class="text-center" style="width:10%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
                <tr id="{{empleado.id}}">
                    <td class="text-center"><input class="form-check-input" type="checkbox" id="{{empleado.id}}-check"></td>
                    <td>{{empleado.numero}}</td>
                    <td>{{empleado.tipo}}</td>
                    <td>{{empleado.nombre_completo}}</td>
                    <td>{{empleado.departamento}}</td>
                    <td>{{empleado.puesto}}</td>
                    <td>{{empleado.fecha_ingreso|date:'d/m/Y'}}</td>
                    <td>{{empleado.sueldo|moneda}}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a data-url="{% url 'empleado-editar' empleado.pk %}" data-id="{{ empleado.id }}" class="btn btn-warning btn-sm editar-modal" data-toggle="tooltip" data-bs-placement="top" title="Modificar"><span data-feather="edit"></span></a>
                            <a data-url="{% url 'empleado-eliminar' empleado.pk %}" data-id="{{ empleado.id }}" class="btn btn-danger btn-sm eliminar-modal" data-toggle="tooltip" data-bs-placement="top" title="Eliminar"><span data-feather="x-square"></span></a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="text-center bg-light">Sin empleados</td>
                </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock %}