{% load crispy_forms_tags %}
{% load static %}

<style type="text/css">
  .delete-row {
  }
</style>

{{ formset.management_form|crispy }}

{% for form in formset.forms %}
  {% for hidden in form.hidden_fields %}
    {{ hidden|as_crispy_field }}
  {% endfor %}
  {% crispy form %}
{% endfor %}

<br>
<script src="{% static 'nomina/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'Agregar ',
        deleteText: '',
        prefix: '{{ formset.prefix }}',
    });
</script>