<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'nomina/favicon.png'%}">
	
		<title>IEEBC - SIGA</title>
		
		{% load django_bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		<link href="{% static 'nomina/base.css'%}" rel="stylesheet">
	</head>
<body>

	<!-------------------------------------
					NavBar 
	-------------------------------------->

	<nav class="navbar navbar-expand-md navbar-dark fixed-top sticky-top" style="background-color: #782484;">
		<div class="container-fluid">
			
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="navbar-brand" href="{% url 'home' %}">
						<img src="{% static 'nomina/logo_iee.svg'%}" height="30" class="d-inline-block align-top" alt="">
					</a>
				</li>
			</ul>
			
			<ul class="nav navbar-nav mx-auto abs-center-x">
					<li class="nav-item">
						<a class="navbar-brand mx-auto" href="{% url 'home' %}">SIGA</a>
					</li>
			</ul>
		</div>
	</nav>


	<!-------------------------------------
					Container
	-------------------------------------->

	<main role="main">
		<div class="container-fluid">	
			<div class="row-fluid fflex-nowrap pt-3 pb-2 mb-3">
				<!-------------------------------------
								Mensajes 
				-------------------------------------->
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-secondary alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>	
					{% endfor %}
				{% endif %}

				<!-------------------------------------
								Contenido 
				-------------------------------------->

				{% block content %}

				{% endblock content %}  	
			</div>
		</div>
		<br>
	</main><!-- /.main -->

	<div id="deleteModalDiv"></div>

</body>
</html>