{% extends 'nomina/base_sidebar.html' %}
{% load humanize %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Fonacot</h1>
</div>

<div class="info-sireps"></div>

<script type="text/javascript">
    $.getJSON('http://sistemas.ieebc.mx:8000/sireps/api/registros/', function(data) {
		var texto = `
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>                    
                        <th>Cargo</th>
                        <th>Sexo</th>
                        <th>Ámbito Territorial</th>
                        <th>Número de Expediente</th>
                        <th>Relación con la víctima</th>
                        <th>Incidencia en el proceso electoral</th>
                        <th>Órgano resolutor</th>
                        <th>Fecha de Resolución</th>
                        <th>Conducta</th>
                        <th>Sanción</th>
                        <th>Permanencia</th>
                        <th>Reincidencia de la conducta</th>
                        <th>Resolución penal</th>
                        <th>Documento enlace</th>
                    </tr>
                </thead>
                <tbody>
        `
        $.each(data, function (key, val) {
            texto += "<tr>"
			texto += "<td>" + val.nombre + "</td>"
            texto += "<td>" + val.cargo + "</td>"
            texto += "<td>" + val.sexo + "</td>"
            texto += "<td>" + val.ambito + "</td>"
            texto += "<td>" + val.expediente + "</td>"
            texto += "<td>" + val.relacion + "</td>"
            texto += "<td>" + val.incidencia + "</td>"
            texto += "<td>" + val.organo + "</td>"
            texto += "<td>" + val.fecha_resolucion + "</td>"
            texto += "<td>" + val.conducta + "</td>"
            texto += "<td>" + val.sancion + "</td>"
            texto += "<td>" + val.permanencia + "</td>"
            texto += "<td>" + val.reincidencia + "</td>"
            texto += "<td>" + val.resolucion + "</td>"
            texto += "<td><a href='"+ val.enlace +"'>" + val.enlace + "</a></td>"
            texto += "</tr>"
		});

        texto += "</tbody></table>";

		$(".info-sireps").html(texto)
    });
</script>

{% endblock %}

<table class="table table-striped table-bordered table-hover table-sm small">
    <thead class="thead-dark"> 
        <tr>
            <th>Nombre</th>                    
            <th>Cargo</th>
            <th>Sexo</th>
            <th>Ámbito Territorial</th>
            <th>Número de Expediente</th>
            <th>Relación con la víctima</th>
            <th>Incidencia en el proceso electoral</th>
            <th>Órgano resolutor</th>
            <th>Fecha de Resolución</th>
            <th>Conducta</th>
            <th>Sanción</th>
            <th>Permanencia</th>
            <th>Reincidencia de la conducta</th>
            <th>Resolución penal</th>
            <th>Documento enlace</th>
        </tr>
    </thead>
</table>
</table>