{% load auth_extras %}
{% load static %}

<div class="col-2 col-sm-1 col-md-3 col-lg-3 col-xl-2 bg-light sidebar">
    <div class="d-flex flex-column align-items-center align-items-md-start px-3 pt-3 text-white sidebar-max">
        
        <div class="dropdown pb-3 mb-2 mt-2">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'nomina/user.png'%}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="mx-2 d-none d-md-inline"><strong>{{ request.user.username }}</strong></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
            </ul>
        </div>

        <ul class="nav nav-pills flex-column mb-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item h6">
                <a href="{% url 'home' %}" class="nav-link px-0 align-middle sideopt">
                    <div class="{% if url_name == 'home' %}active-sidebar-option{% endif %}">
                        <i class="fs-4" data-feather="home"></i>
                        <span class="ms-1 d-none d-md-inline">Inicio</span>
                    </div>
                </a>
            </li>

            {% if request.user|es_administracion %} 
                <li class="nav-item h6">
                    <a href="{% url 'fonacots' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'fonacots' %}active-sidebar-option{% endif %}">
                            <i class="fs-4" data-feather="grid"></i> 
                            <span class="ms-1 d-none d-md-inline">Fonacot</span> 
                        </div>
                    </a>
                </li>
            {% endif %}

            {% if request.user|es_rh %} 
                <li class="nav-item h6">
                    <a href="{% url 'proyeccion' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'proyeccion' %}active-sidebar-option{% endif %}">
                            <i class="fs-4" data-feather="dollar-sign"></i> 
                            <span class="ms-1 d-none d-md-inline">Proyeccion</span> 
                        </div>
                    </a>
                </li>

                <li class="nav-item h6">
                    <a href="{% url 'departamentos' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'departamentos' %}active-sidebar-option{% endif %}">
                            <i class="fs-4" data-feather="users"></i> 
                            <span class="ms-1 d-none d-md-inline">Departamentos</span> 
                        </div>
                    </a>
                </li>
            
                <li class="nav-item h6">
                    <a href="{% url 'puestos' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'puestos' %}active-sidebar-option{% endif %}">
                            <i class="fs-4" data-feather="briefcase"></i> 
                            <span class="ms-1 d-none d-md-inline">Puestos</span> 
                        </div>
                    </a>
                </li>

                <li class="nav-item h6">
                    <a href="{% url 'estructuras' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'estructuras' %}active-sidebar-option{% endif %}">
                            <i class="fs-4" data-feather="layers"></i> 
                            <span class="ms-1 d-none d-md-inline">Estructuras</span> 
                        </div>
                    </a>
                </li>

                <li class="nav-item h6">
                    <a href="{% url 'empleados' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'empleados' %}active-sidebar-option{% endif %}">
                            <i class="fs-4" data-feather="user"></i> 
                            <span class="ms-1 d-none d-md-inline">Empleados</span> 
                        </div>
                    </a>
                </li>
                
                <li class="nav-item h6">
                    <a href="{% url 'partidas' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'partidas' %}active-sidebar-option{% endif %}">
                            <i class="fs-4" data-feather="pie-chart"></i> 
                            <span class="ms-1 d-none d-md-inline">Partidas</span> 
                        </div>
                    </a>
                </li>

                <li class="nav-item h6">
                    <a href="{% url 'catorcenas' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'catorcenas' %}active-sidebar-option{% endif %}">
                            <i class="fs-3" data-feather="calendar"></i> 
                            <span class="ms-1 d-none d-md-inline">Catorcenas</span> 
                        </div> 
                    </a>
                </li>

                <li class="nav-item h6">
                    <a href="{% url 'isrs' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'isrs' %}active-sidebar-option{% endif %}">
                            <i class="fs-3" data-feather="bar-chart"></i> 
                            <span class="ms-1 d-none d-md-inline">Tabla ISR</span> 
                        </div> 
                    </a>
                </li>

                <li class="nav-item h6">
                    <a href="{% url 'subsidios' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'subsidios' %}active-sidebar-option{% endif %}">
                            <i class="fs-3" data-feather="bar-chart-2"></i> 
                            <span class="ms-1 d-none d-md-inline">Tabla Subsidio</span> 
                        </div> 
                    </a>
                </li>

                <li class="nav-item h6">
                    <a href="{% url 'planes' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'planes' %}active-sidebar-option{% endif %}">
                            <i class="fs-3" data-feather="box"></i> 
                            <span class="ms-1 d-none d-md-inline">Planes</span> 
                        </div> 
                    </a>
                </li>
            {% endif %} 

            {% if request.user|es_sistemas %} 
                <li class="nav-item h6">
                    <a href="{% url 'scripts' %}" class="nav-link px-0 align-middle sideopt">
                        <div class="{% if url_name == 'scripts' %}active-sidebar-option{% endif %}">
                            <i class="fs-4" data-feather="file-text"></i> 
                            <span class="ms-1 d-none d-md-inline">Scripts</span> 
                        </div>
                    </a>
                </li>
            {% endif %}
        </ul>
        <hr>
        
    </div>
</div>