{% load auth_extras %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">

        <!-- Principales -->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                    <span data-feather="home"></span>                    
                    Inicio
                </a>
            </li>
            {% if request.user|es_rh %} 
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'proyeccion' %}active{% endif %}" href="{% url 'proyeccion' %}">
                        <span data-feather="dollar-sign"></span>
                        Proyección
                    </a>
                </li>
            {% endif %}

            {% if request.user|es_administracion %} 
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'cedulas' %}active{% endif %}" href="{% url 'cedulas' %}">
                        <span data-feather="file-text"></span>
                        Cédulas
                    </a>
                </li>
            {% endif %}

            {% if request.user|es_sistemas %} 
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'fonacot' %}active{% endif %}" href="{% url 'fonacot' %}">
                        <span data-feather="grid"></span>
                        Fonacot
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'scripts' %}active{% endif %}" href="{% url 'scripts' %}">
                        <span data-feather="file-text"></span>
                        Scripts
                    </a>
                </li>
            {% endif %}
        </ul>
        
        <!-- Catalogos -->
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Catálogos</span>
        </h6>

        
        <ul class="nav flex-column">
            {% if request.user|es_rh %} 
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'departamentos' %}active{% endif %}" href="{% url 'departamentos' %}">
                    <span data-feather="users"></span>
                    Departamentos
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if url_name == 'puestos' %}active{% endif %}" href="{% url 'puestos' %}">
                    <span data-feather="briefcase"></span>
                    Puestos
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if url_name == 'estructuras' %}active{% endif %}" href="{% url 'estructuras' %}">
                    <span data-feather="layers"></span>
                    Estructura ({{ request.session.plan_descripcion }})
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if url_name == 'empleados' %}active{% endif %}" href="{% url 'empleados' %}">
                    <span data-feather="user"></span>
                    Empleados ({{ request.session.plan_descripcion }})
                </a>
            </li>

            
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'partidas' %}active{% endif %}" href="{% url 'partidas' %}">
                        <span data-feather="pie-chart"></span>
                        Partidas ({{ request.session.plan_descripcion }})
                    </a>
                </li>
            {% endif %} 
        </ul>
        
        {% if request.user|es_administracion %} 
            <!-- Cedulas -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Cédulas</span>
            </h6>
            
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file"></span>
                        Competencias
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file"></span>
                        Dominios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file"></span>
                        Comportamientos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file"></span>
                        Actividades
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>