<!DOCTYPE html>
{% load static %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        @page {
            size: A4;
            margin: 1cm;
            margin-top: 3cm;
            margin-bottom: 1cm;
            @bottom-right {
                content: counter(page) " / " counter(pages);
            }
        }
        
        .header {
            position: fixed;
            top: 0;
            margin-top: -2.5cm;
            width: 100%;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            margin-bottom: -1cm;
        }
        
        .img-invoice {
            width: 130px;
        }
    </style>

    <body>

        <!-- Encabezado -->
        <div class="header">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'nomina/logo_ieebc.png'%}" class="img-invoice">
                </div>
                <div class="col-10">
                    <div class="text-center fs-6">
                        INSTITUTO ESTATAL ELECTORAL DE BAJA CALIFORNIA
                    </div>
                    <div class="text-center fw-bold fs-6">
                        {{ titulo }}
                    </div>
                </div>                
            </div>            
        </div>  

        <!-- Tabla -->
        <div class="table-responsive-sm">
            <table class="table table-striped table-bordered table-hover table-sm small">
                <thead class="table-dark">
                    <tr>
                        <th>No.</th>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Departamento</th>
                        <th>Puesto</th>
                        <th>Ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                        <tr>
                            <td>{{empleado.numero}}</td>
                            <td>{{empleado.tipo}}</td>
                            <td>{{empleado.nombre_completo}}</td>
                            <td>{{empleado.departamento}}</td>
                            <td>{{empleado.puesto}}</td>
                            <td>{{empleado.fecha_ingreso|date:'d/m/Y'}}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="100%" class="text-center bg-light">Sin empleados</td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>

        <div class="footer">
            Footer content
        </div>

    </body>
</html>