<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>IEEBC - SIGA</title>
    </head>

    {% load django_bootstrap5 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}

    <body>
        <!-- Tabla -->
        <img src="{% static 'nomina/logo_iee.png'%}" alt="">
        <div class="table-responsive-sm">
            <table class="table table-striped table-bordered table-hover table-sm small">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partida in partidas %}
                        <tr>
                            <td>{{partida.codigo}}</td>
                            <td>{{partida.descripcion_tipos}}</td>
                            <td>{{partida.valor}}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="100%" class="text-center bg-light">Sin partidas</td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
    </body>
</html>